<mat-grid-list cols="8" rowHeight="100px">
  <mat-grid-tile colspan="8" class="weather-title">
    <div fxFlex fxLayout="column" fxLayoutAlign="space-around start" *ngIf="weatherTitle$ | async as weatherTitle">
      <h1>Beauvoisin</h1>
      <h2>{{ weatherTitle.date }}</h2>
      <h3>{{ weatherTitle.weather }}</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" class="weather-temperatures" *ngIf="weatherTemperatures$ | async as weatherTemperatures">
    <div fxFlex fxLayout="row" fxLayoutAlign="start start">
      <img alt="Weather" [src]="weatherTemperatures.weatherIconUrl">
      <span class="weather-temperatures-temperature">{{ weatherTemperatures.temperature }}</span>
      <span class="weather-temperatures-unit">°C</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" class="weather-stats" *ngIf="weatherStats$ | async as weatherStats">
    <div fxFlex fxLayout="column" fxLayoutAlign="space-around start">
      <span>Nuages : {{ weatherStats.clouds }}%</span>
      <span>Humidité : {{ weatherStats.humidity }}%</span>
      <span>Vent : {{ weatherStats.wind }}km/h</span>
    </div>
  </mat-grid-tile>
  <ng-template ngFor let-daily [ngForOf]="weatherDaily$ | async">
    <mat-grid-tile colspan="1" class="weather-daily">
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <span class="date">{{ daily.time }}</span>
        <img alt="Weather" [src]="daily.weatherIconUrl">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="min">{{ daily.min }}°</span> <span class="max">{{ daily.max }}°</span>
        </div>
      </div>
    </mat-grid-tile>
  </ng-template>

</mat-grid-list>
