<mat-grid-list cols="8" rowHeight="100px">
  <mat-grid-tile colspan="8" class="weather-title">
    <div fxFlex fxLayout="column" fxLayoutAlign="space-around start">
      <h1>Beauvoisin</h1>
      <h2>dimange 19:00</h2>
      <h3>Temps clair</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" class="weather-temperatures">
    <div fxFlex fxLayout="row" fxLayoutAlign="start start">
      <img alt="Weather" src="http://openweathermap.org/img/wn/10d@2x.png">
      <span class="weather-temperatures-temperature">17</span>
      <span class="weather-temperatures-unit">°C</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" class="weather-stats">
    <div fxFlex fxLayout="column" fxLayoutAlign="space-around start">
      <span>Précipitations : 3mm</span>
      <span>Humidité : 55%</span>
      <span>Vent : 14km/h</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    Jour 1
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    Jour 2
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    Jour 3
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    Jour 4
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    Jour 5
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    Jour 6
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    Jour 7
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    Jour 8
  </mat-grid-tile>
</mat-grid-list>
